<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>rc4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>rc4ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A01C81A51964FADD00D2633F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A01C81C119655EB600D2633F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A01C81CA19655EE900D2633F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A01C81D619655F7400D2633F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A01C81F019655F7500D2633F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
